<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/87484bc3bf.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/stylecarrito.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
   





</head>

<body>
    <header>
        <header class="dark-primary-color">
            <section>
                <div class="logo"><img src="/img/proyecto-logo.jpeg" alt=""></div>
                <form class="search-bar "action="">
                  <input type="search" name="search" id="search">
                  <button type="submit" id="search-button"><i class="fas fa-search"></i>
                  </button>
    
              
                </form>
                <p id="header-envios">Envios a todo el país</p>
            </section>
            <nav class="nav-bar">
                <ul class="izq-navbar">
                    <li>
                        <a href="login.html"></a>Ingresá
                    </li>
                    <li>
                        <a href="register.html"></a>Crea tu cuenta
                    </li>
                    <li>
                        <a href="productCart.html"></a>Nuestros productos
                    </li>
                    <li>
                        <a href="productDetail.html"></a>Mis compras
                    </li>
                </ul>
            </nav>
        </header>
    </header>
    <main class="main-header">
      <section id="last-visit-feedback">
        <h2 class="section-title">Ultimas busquedas</h2>
        <section class="article-container">
          <article class="product-card">
            <img
              class="width-40"
              src="/img/AuricularesOficina.jpeg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">8.635</p>
              <h3 class="description text-dark-gray">X10 Auriculares Logitech H151 negro</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-40"
              src="/img/Cable-Hdmi-3.0-Metro.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 2.590</p>
              <h3 class="description text-dark-gray">X10 Cable Hdmi Full Hd 24k Mallado 3mts</h3>
            </div>
          </article>
          <article class="product-card1">
            <img
              class="width-40"
              src="/img/MouseOficina.jpeg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 600</p>
              <h3 class="description text-dark-gray">Mouse Logitech M100 negro</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-40"
              src="/img/monitor-LG.jpeg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 150.850</p>
              <h3 class="description text-dark-gray">X10 Monitor LG 32p Led 1080p Full</h3>
            </div>
          </article>
        </section>
      </section>
      <section id="on-sale">
        <h2 class="section-title">Novedades</h2>
        <section class="article-container">
          <article class="product-card">
            <img
              class="width-40"
              src="/img/AuricularesOficina.jpeg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">8.635</p>
              <h3 class="description text-dark-gray">X10 Auriculares Logitech H151 negro</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-40"
              src="/img/TecladoOficina.jpeg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 2.590</p>
              <h3 class="description text-dark-gray">X10 Teclado Genius SlimStar 230</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-40"
              src="/img/MouseOficina.jpeg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 600</p>
              <h3 class="description text-dark-gray">Mouse Logitech M100 negro</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-40"
              src="/img/Monitor.jpeg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 102.415</p>
              <h3 class="description text-dark-gray">X10 Monitor 24p Led 1080p Full</h3>
            </div>
          </article>
        </section>
      </section>
    </main>
    <footer>
        <section class="section-footer dark-primary-color">
            <div class="caja-redes">
                <article>
                    <i class="fab fa-twitter"></i>
                </article>
                <article>
                    <i class="fab fa-facebook-square"></i>
                </article>
                <article>
                    <i class="fab fa-instagram-square"></i>
                </article>
            </div>
            <div class="p-footer">
                <p>Contact</p>
                <p>About Us</p>
                <p>Terms & Conditions</p>
                <p></p>
                <p></p>
            </div>
        </section>

    </footer>
</body>

</html>