<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesión</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <header class="header-login-register">

        <a href="/"><img class="logo" src="/img/logo-proyecto.png" alt=""></a>

    </header>
    <main class="main-login-register">
        <form class="formulario-login-register" action="" method="get">
            <h1 class="center titulo-login-register">Iniciar sesión</h1>
            <div class="bloque-formulario">
                <label class="label-chico" for="username">nombre de usuario o direccion de correo electrónico</label>
                <input class="input-box" type="text" name="username" id="username">
            </div>
            <div class="bloque-formulario">
                <label class="label-chico" for="password">contraseña</label>
                <input class="input-box" type="password" name="password" id="password">
            </div>
            <div class="bloque-formulario"><button class="button-login button-primary" type="submit">continuar</button></div>
            <div class="center bloque-formulario">
                <label for="register">¿Eres nuevo en Big World It?</label>
                <button class="margin-top-5 input-box" type="submit"> <a href="register">crea tu cuenta</a></button>
            </div>


        </form>

    </main>
    <footer></footer>
</body>

</html>