<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/87484bc3bf.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/stylecarrito.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">






</head>

<body>
    <header>
        <header class="dark-primary-color">
            <section>
                <div class="logo"><img src="/img/proyecto-logo.jpeg" alt=""></div>
                <form id="search-form">
                    <input type="search" name="search" id="search" />
                    <button type="submit" id="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <p id="header-envios">Envios a todo el país</p>
            </section>
            <nav class="nav-bar">
                <ul>
                    <li>
                        <a href="login.html"></a>Ingresá
                    </li>
                    <li>
                        <a href="register.html"></a>Crea tu cuenta
                    </li>
                    <li>
                        <a href="productCart.html"></a>Nuestros productos
                    </li>
                    <li>
                        <a href="productDetail.html"></a>Mis compras
                    </li>
                </ul>
            </nav>
        </header>
    </header>
    <main>
        <div>
            <p class="carrito">
                <i class="fas fa-shopping-cart"></i>
            </p>
        </div>

        <h1 class="text-center">Mi Carrito de Compras</h1>

        <section class=" section-carrito bg-gris">

            <article class="product-card">
                <form class="button-eliminarProducto">
                    <button type="button">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
                <img class="width-90" src="/img/Monitor.jpeg">
                <div class="descripcion-producto">
                    <p class="width-100">X10 Monitor 24p Led 1080p Full</p>
                    <div id="caja-precio">

                        <div>
                            <p>Precio:</p>
                        </div>
                        <div class="precio-numero">
                            <p>$102.415</p>
                        </div>
                    </div>


                    <p>Cantidad:</p><select class="select-cantidad" name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>

                </div>

                <div id="caja-subtotal">

                    <div>
                        <p>Subtotal:</p>
                    </div>
                    <div class="precio-subtotal">
                        <p>precio * cantidad</p>
                    </div>



            </article>

        </section>






        <section class=" section-carrito bg-gris">
            <article class="product-card">
                <form class="button-eliminarProducto">
                    <button type="button">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
                <img class="width-90" src="/img/AuricularesOficina.jpeg">
                <div class="descripcion-producto">
                    <p class="width-100">X10 Auriculares Logitech H151 negro</p>
                    <div id="caja-precio">

                        <div>
                            <p>Precio:</p>
                        </div>
                        <div class="precio-numero">
                            <p>$8.635</p>
                        </div>
                    </div>


                    <p>Cantidad:</p><select class="select-cantidad" name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>

                </div>

                <div id="caja-subtotal">

                    <div>
                        <p>Subtotal:</p>
                    </div>
                    <div class="precio-subtotal">
                        <p>precio * cantidad</p>
                    </div>



            </article>

        </section>


        <section class=" section-carrito bg-gris">
            <article class="product-card">
                <form class="button-eliminarProducto">
                    <button type="button">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
                <img class="width-90" src="/img/Cable-Hdmi-3.0-Metro.jpg">
                <div class="descripcion-producto">
                    <p class="width-100">X10 Cable Hdmi Full Hd 24k Mallado 3mts</p>
                    <div id="caja-precio">

                        <div>
                            <p>Precio:</p>
                        </div>
                        <div class="precio-numero">
                            <p>$2.590</p>
                        </div>
                    </div>


                    <p>Cantidad:</p><select class="select-cantidad" name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>

                </div>

                <div id="caja-subtotal">

                    <div>
                        <p>Subtotal:</p>
                    </div>
                    <div class="precio-subtotal">
                        <p>precio * cantidad</p>
                    </div>



            </article>




        </section>

        <section class="section-total">
            <div>
                <h2>TOTAL:</h2>
            </div>
            <div class="precio-total">
                <p>$133,640</p>
            </div>
            </div>
        </section>


        <button class="button-comprar">COMPRAR</button>



    </main>
    <footer>
        <section class="section-footer dark-primary-color">
            <div class="caja-redes">
                <article>
                    <i class="fab fa-twitter"></i>
                </article>
                <article>
                    <i class="fab fa-facebook-square"></i>
                </article>
                <article>
                    <i class="fab fa-instagram-square"></i>
                </article>
            </div>
            <div class="p-footer">
                <p>Contact</p>
                <p>About Us</p>
                <p>Terms & Conditions</p>
                <p></p>
                <p></p>
            </div>
        </section>

    </footer>
</body>

</html>