.btn-form {
    color: black;
    background-color: #4DC6BE;
}

.errorMensaje {
    font-size: 20px;
    color: red;
}

.avatar-container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.avatar-mw-50 {
    width: 50%;
}