.logo {
  display: flex;
  width: 15%;
  margin-right: auto;
}

.navigation-bar {
  display: flex;
  background-color: #c5cae9;
}

.burger-menu {
  display: flex;
  font-size: 200%;
  position: relative;
  right: 20px;
  align-self: center;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.solid-border-2-grey {
    border: solid 2px darkgrey;
}

.padding-5 {
    padding: 5px;
}