<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <title>Sobre Nostros</title>
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <main>
            <h1>Quienes somos??</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quibusdam eligendi minus, rerum commodi repellendus aliquam accusamus exercitationem voluptas laudantium? Eius autem corporis enim nam laborum assumenda officiis quibusdam
                aliquam.
            </p>
        </main>
        <%- include("./partials/footer.ejs") %>
</body>

</html>