<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>


        <title>Pagina de bienvenida</title>
</head>

<body>
    <header class="header-scroll">
        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
            <div class="container-fluid">
                <a class="navbar-brand a-logo" href="#">
                    <img src="../img/demo/BMP-Logo.png" alt="" width="100%" height="100%" />
                </a>
                <span class="navbar-text">
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Que estás buscando?"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Buscar
            </button>
          </form>
        </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorías
              </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Almacén</a></li>
                                <li><a class="dropdown-item" href="#">Herramientas</a></li>
                                <li><a class="dropdown-item" href="#">Librería</a></li>
                                <li><a class="dropdown-item" href="#">Tecnología</a></li>
                                <li><a class="dropdown-item" href="#">Vestimenta</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usuario
              </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Compras</a></li>
                                <li><a class="dropdown-item" href="#">Ventas</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Preguntas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item celeste-vpm">
                            <a class="nav-link active" aria-current="page" href="#">Carrito</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active creaCuenta"
                aria-current="page"
                href="#"
                >Creá tu cuenta</a
              >
            </li>
            <li class="nav-item celeste-vpm">
              <a class="nav-link active" aria-current="page" href="#"
                >Ingresá</a
              >
            </li>
          </ul>
          <span class="navbar-text">
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Que estás buscando?"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Buscar
              </button>
            </form>
          </span>
        </div>
      </div>
    </nav>
  </header>
    
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/img/bannerFinc.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/img/asus.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/img/sale.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <main class="main-header">

      
      <section id="on-sale">
        <h2 class="section-title">Novedades</h2>
        <section class="article-container">
         
          <article class="product-card">
            <img
              class="width-40"
              src="/img/articulos/herramientas/sierra-sensitiva.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 2.590</p>
              <h3 class="description text-dark-gray">X10 Teclado Genius SlimStar 230</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-40"
              src="/img/articulos/libreria/cartuchos.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 600</p>
              <h3 class="description text-dark-gray">Mouse Logitech M100 negro</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-40"
              src="/img/articulos/vestimenta/botasTrabajo.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 102.415</p>
              <h3 class="description text-dark-gray">X10 Monitor 24p Led 1080p Full</h3>
            </div>
          </article>
        </section>
      </section>
      <section id="on-sale">
        <h2 class="section-title">Ofertas</h2>
        <section class="article-container">
          <article class="product-card">
            <img
              class="width-100"
              src="/img/articulos/tecnologia/impresora.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">8.635</p>
              <p class="discount text-green">40% OFF</p>
              <h3 class="description text-dark-gray">X10 Auriculares Logitech H151 negro</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-100"
              src="/img/articulos/herramientas/Amoladora.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 2.590</p>
              <p class="discount text-green">40% OFF</p>
              <h3 class="description text-dark-gray">X10 Teclado Genius SlimStar 230</h3>
            </div>
          </article>
         
          <article class="product-card">
            <img
              class="width-100"
              src="/img/articulos/almacen/CafeMolido.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 102.415</p>
              <p class="discount text-green">40% OFF</p>
              <h3 class="description text-dark-gray">X10 Monitor 24p Led 1080p Full</h3>
            </div>
          </article>
        </section>
      </section>
    
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/bannerFinc.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/img-home-banner.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/img-home-banner.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <section id="on-sale">
        <h2 class="section-title">Herramientas</h2>
        <section class="article-container">
          <article class="product-card">
            <img
              class="width-40"
              src="/img/articulos/herramientas/Amoladora.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">8.635</p>
              <h3 class="description text-dark-gray">X10 Auriculares Logitech H151 negro</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-40"
              src="/img/articulos/herramientas/sierra-sensitiva.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 2.590</p>
              <h3 class="description text-dark-gray">X10 Teclado Genius SlimStar 230</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-40"
              src="/img/articulos/herramientas/Taladro.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 600</p>
              <h3 class="description text-dark-gray">Mouse Logitech M100 negro</h3>
            </div>
          </article>
         
        </section>
      </section>

      <div >
        <img src="/img/bannerSoporte.jpg" class="d-block w-100" alt="...">
      </div>
    </main>
    <footer>

      <div class="bg-black footer-bmp">
  
          <div class="footer-logo-container">
              <img class="logo-footer" src="../img/demo/BusinessMarketPlace.png" alt="BMP">
  
          </div>
    
          <div class="email-and-phone-container-since-480"> 
                  <p class="email-and-phone">info@bmp.com.ar  +540303456789</p>
          </div>
  
  
        
          <div class="contact-container">
  
              <div class="footer-social-media-container">
                  <ul class="footer-social-media-list">
                      <li class="">
                      <a class="" href="#"
                          ><i class="fa-brands fa-facebook"></i
                      ></a>
                        </li>
                        <li class="">
                            <a class="" href="#"><i class="fa-brands fa-twitter"></i
                      ></a>
                        </li>
                        <li class="">
                            <a class="" href="#"><i class="fa-brands fa-instagram"></i
                      ></a>
                        </li>
                        <li class="">
                            <a class="" href="#"><i class="fa-brands fa-telegram"></i
                      ></a>
                        </li>
                    </ul>
                </div>

                <div class="email-and-phone-container">
                    <p class="email-and-phone">info@bmp.com.ar +540303456789</p>
                </div>

            </div>

            </div>
            </footer>
</body>

</html>