<!DOCTYPE html>
<html>

<head>
    <%- include("./partials/head.ejs") %>
        <link rel="stylesheet" href="/css/productCar.css">
        <title>Carrito de compras</title>
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <main>
            <div>
                <p class="carrito">
                    <i class="fa-solid fa-dolly"></i>
                </p>
            </div>

            <h1 class="text-center">Mi Carrito de Compras</h1>
            <section class="section-main">
                <section class="section-products">
                    <article>

                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="/img/articulos/herramientas/sierraSensitiva.jpg" class="img-fluid rounded-start img-thumbnail rounded mx-auto d-block" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="precio-numero">$ 23,304</h5>
                                        <p class="card-text product-name">Sierra Sensitiva BOSCH.</p>
                                        <p>Unidades
                                            <input type="number" class="selector-cantidad" value="1">
                                        </p>
                                        <p class="card-text "><small class="text-green">Envío Gratis</small></p>
                                        <button class="button-eliminarProducto" type="button">
                                    <p class="card-text">Eliminar producto</p>
                                </button>
                                    </div>
                                </div>
                            </div>
                            
                    </article>
                    <section>

                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="/img/articulos/herramientas/sierraSensitiva.jpg" class="img-fluid rounded-start img-thumbnail rounded mx-auto d-block" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="precio-numero">$ 23,304</h5>
                                        <p class="card-text product-name">Sierra Sensitiva BOSCH.</p>
                                        <p>Unidades
                                            <input type="number" class="selector-cantidad" value="1">
                                        </p>
                                        <p class="card-text "><small class="text-green">Envío Gratis</small></p>
                                        <button class="button-eliminarProducto" type="button">
                                    <p class="card-text">Eliminar producto</p>
                                </button>
                                    </div>
                                </div>
                            </div>
                    </section>
                    <section>

                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="/img/articulos/herramientas/sierraSensitiva.jpg" class="img-fluid rounded-start img-thumbnail rounded mx-auto d-block" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="precio-numero">$ 23,304</h5>
                                        <p class="card-text product-name">Sierra Sensitiva BOSCH.</p>
                                        <p>Unidades
                                            <input type="number" class="selector-cantidad" value="1">
                                        </p>
                                        <p class="card-text "><small class="text-green">Envío Gratis</small></p>
                                        <button class="button-eliminarProducto" type="button">
                                    <p class="card-text">Eliminar producto</p>
                                </button>
                                    </div>
                                </div>
                            </div>
                    </section>
                    <section>

                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="/img/articulos/herramientas/sierraSensitiva.jpg" class="img-fluid rounded-start img-thumbnail rounded mx-auto d-block" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="precio-numero">$ 23,304</h5>
                                        <p class="card-text product-name">Sierra Sensitiva BOSCH.</p>
                                        <p>Unidades
                                            <input type="number" class="selector-cantidad" value="1">
                                        </p>
                                        <p class="card-text "><small class="text-green">Envío Gratis</small></p>
                                        <button class="button-eliminarProducto" type="button">
                                    <p class="card-text">Eliminar producto</p>
                                </button>
                                    </div>
                                </div>
                            </div>
                    </section>
                </section>
                <section class="information-total mb-5">
                    <div class="caja-total">
                        <article class="resumen-compra">
                            <div>
                                <p>Resumen de compra</p>
                            </div>
                            <div style="display: flex; justify-content: space-between;">
                                <p>Productos(5)</p>
                                <p>$133,234</p>
                            </div>
                            <div style="display: flex; justify-content: space-between;">
                                <p>Envío</p>
                                <p>$0</p>
                            </div>
                        </article>
                        <article class="caja-total-envio">
                            <strong>Total con envío</strong>
                            <p class="total-precio">$ 133,234</p>
                        </article>
                    </div>

                    <div>
                        <button class="btn btn-dark mb-5 w-100">Continuar compra</button>
                    </div>
                </section>
            </section>
        </main>
        <%- include("./partials/footer.ejs") %>
</body>

</html>