<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <title>Información del vendedor</title>
</head>

<body>
    <%- include("./partials/header.ejs") %>

    <p>Información del vendedor iría acá</p>

    <%- include("./partials/footer.ejs") %>
</body>

</html>