.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}




.contenedorCantidades{
  font-size: 36px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0px 20px 20px 20px;
  margin-top: 20px;


  --c: no-repeat linear-gradient(#224ee0 0 0);
  background: 
    var(--c)  calc(-101% + var(--p,0%)) 100% / 50.1% var(--p,.08em),
    var(--c)  calc( 201% - var(--p,0%)) 0    / 50.1% var(--p,.08em);
  transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));

}


.contenedorCantidades:hover {
  --p: 101%;
  --t: 0.3s;
  color: white;
}



.cantidadUsuarios{
  color:rgb(245, 105, 105);
  font-weight: bold;
}
.cantidadCategorias{
  color:rgb(72, 245, 72);
  font-weight: bold;
}

.cantidadProductos{
  color:rgb(218, 178, 0);
  font-weight: bold;
}

.dato1{
  font-size: 16px;;
}

.dato2{
  font-size: 20px;;
  color: rgb(121, 167, 252);
}

.dato3{
  font-size: 14px;;
}

h5{
  font-size: 24px;
}





@media (min-width: 768px) {
  .contenedorEstadistica {
    width: 30%;
  }
}


