<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="/css/formularios.css" />
        <title>Registro</title>

</head>

<body class="bg-black">
    <%- include("../partials/header.ejs") %>
        <main class="container m-15 mb-10">
            <div>
                <h1 class="titulo-fomulario text-center celeste-vpm">Vendé y comprá con <span>BMP</span></h1>
            </div>
            <form>
                <div class="row">
                    <div class="mb-3">
                        <label for="username" class="form-label celeste-vpm">Nombre de usuario</label>
                        <input type="text" class="form-control" id="username" placeholder="Ingrese caracteres alfanuméricos, guiones o guiones bajos" required>
                    </div>
                    <div class="mb-3 col-md-6 col-lg-6">
                        <label for="businessName" class="form-label celeste-vpm">Nombre de la empresa</label>
                        <input type="text" class="form-control" id="businessName">
                    </div>

                    <div class="mb-3 col-md-6 col-lg-6">
                        <label for="businessId" class="form-label celeste-vpm">Cuit</label>
                        <input type="text" class="form-control" id="businessId" placeholder="xx-xxxxxxxx-x" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label celeste-vpm">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="nombre@ejemplo.com.ar" required>
                        <div id="emailHelp" class="form-text text-light">Nunca compartiremos su correo electrónico con nadie más.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label celeste-vpm">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label celeste-vpm">Confirmar contraseña</label>
                        <input type="Password" class="form-control" id="confirmPassword" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="terminos-condiciones">
                        <label class="form-check-label text-light" for="exampleCheck1 celeste-vpm">por la presente reconozco que acepto los Términos y condiciones de BMP y que he leído el Aviso de privacidad .</label>
                    </div>
                    <div class="d-flex justify-content-center mt-5 mb-5"><button type="submit" class="btn btn-outline-info mb-5 w-50">Registrarse</button>
                    </div>
                </div>
            </form>



        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>